<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="InventorSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=DESKTOP-THO19HQ\DIGIPOS;Initial Catalog=DigiposDemo;User ID=sa;Password=digipos"
      providerName="System.Data.SqlClient" />
    <add name="InventorSync.Properties.Settings.DigiposDemoConnectionString"
      connectionString="Data Source=DESKTOP-CKAPAK6\DIGIPOS;Initial Catalog=DigiposDemo;User ID=sa;Password=#infinitY@279"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.2460.0.59" newVersion="19.2460.0.59" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <InventorSync.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=DESKTOP-CKAPAK6\DIGIPOS;Initial Catalog=DigiposDemo;User ID=sa;Password=#infinitY@279</value>
      </setting>
      <setting name="server" serializeAs="String">
        <value>DESKTOP-CKAPAK6\DIGIPOS</value>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value>DigiposDemo</value>
      </setting>
    </InventorSync.Properties.Settings>
  </userSettings>
</configuration>